.tmdb-image img {
    max-height: 30px;
}

.tmdb-image {
    margin-top: 5px;
}

.btn-circle {
    border-radius: 50%
}

.disabled_link {
    pointer-events: none;
}

#scan-status {
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}