    /* structure */

    html,
    body {
        height: 100%;
    }

    .container-fluid {
        height: 93%
    }

    #show-and-episode-section {
        height: 100%
    }



    .page-bg {
        opacity: 0;
        position: fixed;
        top: 40px;
        left: 0;
        height: 100%;
        width: 100%;
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
        background-repeat-x: no-repeat;
        background-repeat-y: no-repeat;
        background-attachment: fixed;
        background-origin: initial;
        background-clip: initial;
        background-color: initial;
        background-size: center;

        transition: opacity .55s ease-in-out;
        -moz-transition: opacity .55s ease-in-out;
        -webkit-transition: opacity .55s ease-in-out;

    }

    #show-summary-section .btn-circle:focus {
        outline: none;
    }


    /* transitions */

    tr td .btn {
        opacity: 0.0;
        transition: opacity .55s ease-in-out;
        -moz-transition: opacity .55s ease-in-out;
        -webkit-transition: opacity .55s ease-in-out;
    }

    tr:hover td .btn {
        opacity: 1.0;
        transition: opacity .55s ease-in-out;
        -moz-transition: opacity .55s ease-in-out;
        -webkit-transition: opacity .55s ease-in-out;
    }

    #episode-table, #show-summary-section {
        opacity: 1.0;
        transition: opacity .3s ease-in-out;
        -moz-transition: opacity .3s ease-in-out;
        -webkit-transition: opacity .3s ease-in-out;
    }

    table #all-pending-button {
        opacity: 0.0;
        transition: opacity .55s ease-in-out;
        -moz-transition: opacity .55s ease-in-out;
        -webkit-transition: opacity .55s ease-in-out;
    }

    table:hover #all-pending-button {
        opacity: 1.0;
        transition: opacity .55s ease-in-out;
        -moz-transition: opacity .55s ease-in-out;
        -webkit-transition: opacity .55s ease-in-out;
    }


   #show-summary-section .btn {
        opacity: 0.0;
        transition: opacity .55s ease-in-out;
        -moz-transition: opacity .55s ease-in-out;
        -webkit-transition: opacity .55s ease-in-out;
    }

    #show-summary-section:hover .btn  {
        opacity: 1.0;
        transition: opacity .55s ease-in-out;
        -moz-transition: opacity .55s ease-in-out;
        -webkit-transition: opacity .55s ease-in-out;
    }